html,body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:url("../images/bg.png") repeat;
	overflow:hidden;
}
#menu{
	height:1050px;
	position:absolute;
	z-index:8;
	top:0px;
	left:0px;
}
#canvas{
	width:320px;
	height:1068px;
	overflow:hidden;
	padding:6px 6px 0px 6px;
	float:left;
	background-color:#DDDDDD;
	border:1px solid #e2e2e2;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
} 
.tab{
	width:100%;
	height:172px;
	margin-bottom:6px;
	cursor:move;
	overflow:hidden;
}
.show{
	width:100%;
	height:100%;
	position:relative;
}
.tab img,.move img{
	width:100%;
	height:100%;
	border-radius:5px;
}
.tab span,.move span{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	position:absolute;
	z-index:9;
	left:0px;
	bottom:4px;
	color:white;
	text-align:center;
	text-indent:4px;
	font-size:26px;
}
.move{
	position:absolute;
	top:0px;
	left:0px;
	z-index:12;
	width:320px;
	height:172px;
	margin:1px 0px 0px 7px;
	cursor:move;
}
.move *{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.tbody{
	width:100%;
	height:100%;
}
.tbody .cur{
	background-color:white;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.tbox{
	width:1920px;
	height:1080px;
	float:left;
	overflow:hidden;
	position:relative;
}
.loading-80{
    background:url("../images/loading-80.gif") no-repeat center center;
    height:100%;
    width:100%;
}
#echarts{
	width:100%;
	height:100%;
}
iframe{
	width:100%;
	height:100%;
	border:0px none;
}
.control{
	width:92px;
	float:right;
	background-color:#222725;
	border-radius:3px;
	box-shadow: 0 0 15px rgba(96, 136, 155, 1);
	border:1px solid #6c99b0;
	margin-top:348px;
}
.control div{
	cursor:pointer;
	padding:58px 0px;
}
.control .up{
	background:url("../images/up.png") center center no-repeat;
	border-bottom:1px solid #5a7d8d;
}
.control .up:hover{
	background:url("../images/upc.png") center center no-repeat;
}
.control .label{
	border-top:1px solid #5a7d8d;
	border-bottom:1px solid #5a7d8d;
	background:url("../images/label.png") center center no-repeat;
}
.control .label:hover{
	background:url("../images/labelc.png") center center no-repeat;
}
.control .down{
	border-top:1px solid #5a7d8d;
	background:url("../images/down.png") center center no-repeat;
}
.control .down:hover{
	background:url("../images/downc.png") center center no-repeat;
}
.simulation{
	width:320px;
	height:1068px;
	overflow:hidden;
	background-color:#DDDDDD;
	border:1px solid #e2e2e2;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	padding:6px 6px 0px 0px;
	float:left;
}
.simulation .showbox{
	width:318px;
	border: 2px dotted #a0a0a0;
    height: 168px;
    margin-bottom:6px;
    overflow: hidden;
	border-radius:5px;
	position:relative;
}
.simulation .cur{
	background-color:black;
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.simulation .showbox img{
	width:100%;
	height:100%;
	filter:alpha(opacity=70);
	opacity:0.7;
	border-radius:5px;
}
.simulation .showbox .shownum{
	width:150px;
	height:150px;
	font-size:120px;
	color:#d0d0d0;
	position:absolute;
	z-index:9;
	top:50%;
	left:50%;
	margin-top:-80px;
	margin-left:-80px;
	border:5px solid #d0d0d0;
	text-align:center;
	border-radius:80px;
	font-family:"NSimSun";
	font-weight:bold;
	line-height:150px;
	text-shadow:#a0a0a0 0px 1px 0px;
	box-shadow:0 0 3px 1px #b0b0b0;
}