<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.mozi.chintms" />
	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait}"></property>
	</bean>
	
	<bean id="AstronergyBiViewDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driver2}" />
		<property name="url" value="${url2}" />
		<property name="username" value="${username2}" />
		<property name="password" value="${password2}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize2}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive2}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle2}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle2}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait2}"></property>
	</bean>
	
	<bean id="chintBiViewDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver3}" />
		<property name="url" value="${url3}" />
		<property name="username" value="${username3}" />
		<property name="password" value="${password3}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize3}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive3}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle3}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle3}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait3}"></property>
	</bean>
	
	<bean id="chintIcViewDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver4}" />
		<property name="url" value="${url4}" />
		<property name="username" value="${username4}" />
		<property name="password" value="${password4}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize4}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive4}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle4}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle4}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait4}"></property>
	</bean>

	<bean id="biBasicDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver5}" />
		<property name="url" value="${url5}" />
		<property name="username" value="${username5}" />
		<property name="password" value="${password5}" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize5}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive5}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle5}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle5}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait5}"></property>
	</bean>


	<bean id="multipleDataSource" class="com.mozi.chintms.common.MultipleDataSource">
        <property name="defaultTargetDataSource" ref="dataSource"/>
        <property name="targetDataSources">
            <map>     
                <!-- 注意这里的value是和上面的DataSource的id对应，key要和下面的CustomerContextHolder中的常量对应 -->
                <entry value-ref="dataSource" key="dataSourceDefault"/>
                <entry value-ref="AstronergyBiViewDataSource" key="dataSourceAstronergyBiView"/>
                <entry value-ref="chintBiViewDataSource" key="dataSourceChintBiView"/>
                <entry value-ref="chintIcViewDataSource" key="dataSourceChintIcView"/>
                <entry value-ref="biBasicDataSource" key="dataSourceBiBasic"/>
            </map>   
        </property>
    </bean>

	<!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="multipleDataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/mozi/*/*/*.xml"></property>
	</bean>

	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mozi.**.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	

	<!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="multipleDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
        
</beans>